.fixed-vbox {
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-pref-height: 50px;
    -fx-max-height: 50px;
    -fx-background-color: #f8fafc;
    -fx-border-color: #d3d3d3; /* Set border color for top */
    -fx-border-width: 3px 0 0 0; /* Set border width for top */
}

.cancel-order-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #ff0000;
    -fx-pref-width: 430px;
    -fx-max-width: 430px;
    -fx-min-width: 430px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.reorder-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #334e68;
    -fx-pref-width: 430px;
    -fx-max-width: 430px;
    -fx-min-width: 430px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.generate-receipt-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #334e68;
    -fx-pref-width: 430px;
    -fx-max-width: 430px;
    -fx-min-width: 430px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.vendor-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-preferred-width: 350px;
    -fx-max-width: 350px;
    -fx-min-width: 350px;

}
.status-label {
    -fx-font-size: 14px;
    -fx-preferred-width: 320px;
    -fx-max-width: 275px;
    -fx-min-width: 275px;
}

.order-status-label {
    -fx-font-size: 16px;
    -fx-preferred-width: 320px;
    -fx-max-width: 275px;
    -fx-min-width: 275px;
}


.status-value-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-preferred-width: 185px;
    -fx-max-width: 185px;
    -fx-min-width: 185px;
}

.delivery-address-label {
    -fx-font-size: 14px;
    -fx-preferred-width: 350px;
    -fx-max-width: 350px;
    -fx-wrap-text: true;
    -fx-min-width: 350px;
}

.item-quantity-label {
    -fx-font-size: 14px;
    -fx-preferred-width: 50px;
    -fx-max-width: 50px;
    -fx-min-width: 50px;
}

.item-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-preferred-width: 300px;
    -fx-max-width: 300px;
    -fx-min-width: 300px;
    -fx-text-alignment: left;
    -fx-wrap-text: true;
}

.price-label {
    -fx-font-size: 14px;
    -fx-preferred-width: 100px;
    -fx-max-width: 100px;
    -fx-min-width: 100px;
}

.subtotal-label {
    -fx-font-size: 14px;
    -fx-preferred-width: 360px;
    -fx-max-width: 360px;
    -fx-min-width: 360px;
}

.subtotal-amount-label {
    -fx-font-size: 14px;
    -fx-preferred-width: 100px;
    -fx-max-width: 100px;
    -fx-min-width: 100px;
}

.total-price-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #334e68;
    -fx-preferred-width: 360px;
    -fx-max-width: 360px;
    -fx-min-width: 360px;
}

.total-price-amount-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #334e68;
    -fx-preferred-width: 100px;
    -fx-max-width: 100px;
    -fx-min-width: 100px;
}

.separator {
    -fx-background-color: #d3d3d3;
    -fx-pref-width: 450px;
    -fx-max-width: 450px;
    -fx-min-width: 450px;
    -fx-pref-height: 3px;
    -fx-max-height: 3px;
    -fx-min-height: 3px;
}